<div class="content_subpage">
    <!-- Ronny Müller -->
    <a href="#"><i class="fa fa-search"></i></a><input type="text" ng-model="suchfeld.name" class="searchbox">
    <!-- Ronny Müller -->
    <h2>K&uuml;nstler</h2>
    <div class="content_box">
        <a href="#artists/{{kuenstler.pk_kuenstler}}" ng-repeat="kuenstler in kuenstler | filter: suchfeld:strict">
            <!-- Suchfunktion Ronny Müller -->
            <div class="content_boxSong col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="./img/{{kuenstler.bild}}"><span class="contentName">{{kuenstler.name}}</span>
            </div>
        </a>
    </div>
</div>